{% extends 'baseAdmin.html.twig' %}
{% block body %}
<div>
    <a href="{{ path('producteur_index') }}" class="btn btn-primary">Retour</a><br><br>
</div>

<div id="content" class="padding-20">
	<div class="panel panel-default">
		<div class="panel-heading panel-heading-transparent">
			<strong>Ajouter des produits à {{ producteur.nom }} - {{ producteur.prenom }}</strong>
		</div>

		<div class="panel-body">
			
		</div>
	</div>
</div>
{% endblock %}

