{% extends 'base.html.twig'%} {% block body %}
{% trans_default_domain 'FOSUserBundle' %}
<section>
	<div class="container">

		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<div
					class="toggle toggle-transparent toggle-accordion toggle-noicon">

					<div class="toggle active">{% include
						"FOSUserBundle:Registration:register_content.html.twig" %}</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock body %}
